<main>
   <button (click)="toggleOn = !toggleOn">toggle</button>
   <button (click)="unselectAll()">unselect all</button>
   <button (click)="setCustomFuckingValue()">fucking value</button>
   
   <div class="container" tabindex="0" cdkScrollable [style.display]="toggleOn ? null : 'none'">
      @if (!loading) {

         <table
            id="dynamic-table"
            dyt-settings-group-id="dynamic-table"
            dyt-table

            cdkDropList
            cdkDropListOrientation="vertical"
            [cdkDropListData]="items"
            [cdkDropListConnectedTo]="['dynamic-table']"
            [cdkDropListAutoScrollDisabled]="false"
            [cdkDropListAutoScrollStep]="10"
            (cdkDropListDropped)="onRowDrop($event)"
         >

            <thead>
               <tr>
                  <th id="col-1" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">ID</th>
                  <th id="col-2" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">Code</th>
                  <th id="col-3" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">Description</th>
                  <th id="col-4" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">Status Code</th>
                  <th id="col-5" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">Status Description</th>

                  <th id="col-6" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">ID</th>
                  <th id="col-7" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">Code</th>
                  <th id="col-8" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">Description</th>
                  <th id="col-9" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">Status Code</th>
                  <th id="col-10" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">Status Description</th>
                  <th id="col-11" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">ID</th>
                  <th id="col-12" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">Code</th>
                  <th id="col-13" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">Description</th>
                  <th id="col-14" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">Status Code</th>
                  <th id="col-15" dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">Status Description</th>
               </tr>
            </thead>

            <tbody>
               @for (item of items; track $index; let index = $index; let isEven = $even) {
                  <tr
                     dyt-row
                     [dyt-draggable]="true"
                     [dyt-selectable]="true"
                     [dyt-row-highlight-on-hover]="true"
                     [dyt-zebra-row-even]="isEven"
                     [dyt-trackBy]="{ groupId: 'dynamic-table', itemId: item.id }"
                     (dyt-selected)="onRowSelect($event, index)"
                     cdkDrag
                     (cdkDragStarted)="onDragStarted()"
                  >

                     <th dyt-cell [dyt-cell-placeholder]="{ value: '-', show: true }"></th>
                     <td dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">{{ item.code }}</td>
                     <td dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">{{ item.description }}</td>
                     <td dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">{{ item.status.code }}</td>
                     <td dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">{{ item.status.description }}</td>

                     <th dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">{{ item.id }}</th>
                     <td dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">{{ item.code }}</td>
                     <td dyt-cell [dyt-cell-placeholder]="{ value: '-', show: !customFuckingValue }" [dyt-cell-auto-tip]="true">{{ customFuckingValue }}</td>
                     <td dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">{{ item.status.code }}</td>
                     <td dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">{{ item.status.description }}</td>
                     <th dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">{{ item.id }}</th>
                     <td dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">{{ item.code }}</td>
                     <td dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">{{ item.description }}</td>
                     <td dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">{{ item.status.code }}</td>
                     <td dyt-cell [dyt-cell-placeholder]="{ value: '-', show: false }">{{ item.status.description }}</td>
   
                  </tr>
               }
            </tbody>
               
         </table>
         
      }
   </div>
</main>