<main>
   <div class="container" tabindex="0" cdkScrollable>
      @if (!loading) {

         <table
            id="dynamic-table"
            dyt-table

            cdkDropList
            cdkDropListOrientation="vertical"
            [cdkDropListData]="items"
            [cdkDropListConnectedTo]="['dynamic-table']"
            [cdkDropListAutoScrollDisabled]="false"
            [cdkDropListAutoScrollStep]="10"
            (cdkDropListDropped)="onRowDrop($event)"
         >

            <thead>
               <tr>
                  <th id="col-1" dyt-cell>ID</th>
                  <th id="col-2" dyt-cell>Code</th>
                  <th id="col-3" dyt-cell>Description</th>
                  <th id="col-4" dyt-cell>Status Code</th>
                  <th id="col-5" dyt-cell>Status Description</th>
               </tr>
            </thead>

            <tbody>
               @for (item of items; track $index; let index = $index) {
                  <tr
                     dyt-row
                     [dyt-draggable]="true"
                     [dyt-selectable]="true"
                     (dyt-selected)="onRowSelect($event, index)"

                     cdkDrag
                  >

                     <th dyt-cell>{{ item.id }}</th>
                     <td dyt-cell>{{ item.code }}</td>
                     <td dyt-cell>{{ item.description }}</td>
                     <td dyt-cell>{{ item.status.code }}</td>
                     <td dyt-cell>{{ item.status.description }}</td>
   
                  </tr>
               }
            </tbody>
               
         </table>
         
      }
   </div>
</main>